<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="accepted.talentplanet_renewal2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:largeHeap="true"
        >
        <activity
            android:name=".JoinLogin.MainActivity_Login"
            android:theme="@style/AppThemeLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".JoinLogin.MainActivity_Join"
            android:theme="@style/AppTheme_Home">
        </activity>


        <activity
            android:name=".Home.MainActivity"
            android:theme="@style/AppTheme_Home">
        </activity>


        <activity
            android:name=".Profile.MainActivity_Profile"
            android:theme="@style/AppTheme_Home">
        </activity>

        <activity
            android:name=".Friend.MainActivity_Friend"
            android:theme="@style/AppTheme_Home">
        </activity>

        <activity
            android:name=".Condition.MainActivity_Condition"
            android:theme="@style/AppTheme_Home">
        </activity>


        <activity
            android:name=".Cs.MainActivity_Cs"
            android:theme="@style/AppTheme_Home">
        </activity>



        <activity
            android:name=".JoinLogin.MainActivity_Join"
            android:theme="@style/AppTheme_Home" />
        <activity android:name=".Friend.SubActivity_Friend" />
        <activity android:name=".Cs.SubActivity_notice"></activity>
    </application>

</manifest>